version: '3'
services:
  database:
    image: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tpachato
    ports:
      - 3306:3306
    networks:
      - AppNet

  spring-boot:
    image: oumaymafarhani/springprojet
    container_name: spring
    ports:
      - 8089:8089
    depends_on:
      - database
    networks:
      - AppNet
    restart: on-failure
  angular:
    image: oumaymafarhani/angularproject
    container_name: angular
    ports:
      - 88:88
    depends_on:
      - spring-boot
    networks:
      - AppNet
networks:
  AppNet:
